.Heading {
  background-color: #1a1620;
  margin-top: -25px;
  height: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
.Heading h1 {
  margin-bottom: 0;
  font-family: 'Roboto Mono';
  letter-spacing: 4px;
}

.Title-Subtitle {
  padding-top: 0;
  margin-top: 0;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');